
<%= render PreventWeb.MenuBarView, "menu_bar.html", conn: @conn, userrole: @userrole %>

<%= if @error_type == "error" do %>
    <div class="alert alert-danger" role="alert">
        Something bad just happened. Trying again later.
    </div>
<% end %>

<div class="container mt-4 row justify-content-center align-items-center">
  <form class="form" method="POST" action="/clinic/adult/new">
    <input type="hidden" name="_csrf_token" value="<%= @csrf_token %>">
    <input type="hidden" name="patient_id" value="<%= @patient_id%>">
    <div class="d-flex flex-row mt-3">

        <div class="form-group mr-3">
            <label for="formGroupExampleInput">Height(cm):</label>
            <input type="text" value="" name="height" class="form-control" id="formGroupExampleInput" placeholder="">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Weight(kg):</label>
            <input type="text" value="" name="weight" class="form-control" id="formGroupExampleInput2" placeholder="">
        </div>
    </div>
    <div class="form-check form-check-inline mt-3">
      <label class="form-check-label mr-1" for="inlineCheckbox3">Nutritional monitoring</label>
      <input class="form-check-input" type="checkbox" name="nutritional_monitoring" id="inlineCheckbox3" value="1"  <%= @nutritional_monitoring %>>
    </div>
    <div class="d-flex flex-row mt-3">
      <div class="form-group mr-3">
        <label for="formGroupExampleInput">Blood pressure(systolic)</label>
        <input type="text" value= "<%= @blood_pressure_systolic %>" name="blood_pressure_systolic" class="form-control" id="formGroupExampleInput" placeholder="">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Blood pressure(diastolic)</label>
        <input type="text"  value= "<%= @blood_pressure_diastolic %>" name="blood_pressure_diastolic" class="form-control" id="formGroupExampleInput2" placeholder="">
      </div>
    </div>

    <div class="form-group mt-6">
      <label for="formGroupExampleInput">Blood pressure Monitoring: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="blood_monitoring" value="1"  id="inlineRadio1" <%= @blood_monitoring %>>
      </div>
    </div>

    <div class="form-group mt-6">
      <label for="formGroupExampleInput">Diabetes: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="diabetes" id="inlineRadio1" value="1" <%= @diabetes_normal %>>
        <label class="form-check-label" for="inlineRadio1">Normal</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="diabetes" id="inlineRadio2" value="2" <%= @diabetes_peripheral_resistance %>>
        <label class="form-check-label" for="inlineRadio2">peripheral insulin resistance</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio"name="diabetes" id="inlineRadio3" value="3"  <%= @diabetes_dbt_I %>>
        <label class="form-check-label" for="inlineRadio3">DBT I</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="idiabetes" id="inlineRadio3" value="4" <%= @diabetes_dbt_II %>>
        <label class="form-check-label" for="inlineRadio3">DBT II</label>
      </div>
    </div>


    <div class="form-group mt-6">
      <label for="formGroupExampleInput">Glucose Monitoring: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  name="glocuse_monitoring" value="1" id="inlineRadio1" <%= @glucose_monitoring %>>
      </div>
    </div>

    <div class="form-group mt-6">
      <label for="formGroupExampleInput">Diabetes Treatment: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="diabetes_treatment" value="1"  id="inlineRadio1" <%= @diabetes_treatment_no %>>
        <label class="form-check-label" for="inlineRadio1">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="diabetes_treatment" value="2" id="inlineRadio2" <%= @diabetes_treatment_ado %>>
        <label class="form-check-label" for="inlineRadio2">ADO</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="diabetes_treatment" value="3" id="inlineRadio3" <%= @diabetes_treatment_insulin %>>
        <label class="form-check-label" for="inlineRadio3">Insulin</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="diabetes_treatment" value="4" id="inlineRadio3" <%= @diabetes_treatment_dietetic_hygiene %>>
        <label class="form-check-label" for="inlineRadio3">Dietetic Hygiene</label>
      </div>
    </div>

    <div class="form-group mt-6">
      <label for="formGroupExampleInput">Lipid disorder: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lipid_disorder" value="1"  id="inlineRadio1" <%= @lipid_disorder_200 %>>
        <label class="form-check-label" for="inlineRadio1">Total Colesterol >200</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lipid_disorder" value="2" id="inlineRadio2" <%= @lipid_disorder_160 %>>
        <label class="form-check-label" for="inlineRadio2">Colesterol LDL>160</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lipid_disorder" value="3" id="inlineRadio3" <%= @lipid_disorder_40 %>>
        <label class="form-check-label" for="inlineRadio3">Colesterol HDL&lt;40 </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lipid_disorder" value="4" id="inlineRadio3" <%= @lipid_disorder_150 %>>
        <label class="form-check-label" for="inlineRadio3">Trigliceridos > 150</label>
      </div>
    </div>

    <div class="form-group mt-6">
      <label for="formGroupExampleInput">Lipid disorder Monitoring: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="lipiddisordermonitoring" value="1"  <%= @lipid_disorder_monitoring %> id="inlineRadio1">
      </div>
    </div>

    <div class="form-group mt-6">
      <label for="formGroupExampleInput">Lipid disorder Treatment: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lipid_disorder_treament" value="1"  id="inlineRadio1" <%= @lipid_disorder_treament_yes %>>
        <label class="form-check-label" for="inlineRadio1">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lipid_disorder_treament" value="2"  id="inlineRadio2" <%= @lipid_disorder_treament_no %>>
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="lipid_disorder_treament" value="2"  id="inlineRadio2" <%= @lipid_disorder_treament_monitoring %>>
        <label class="form-check-label" for="inlineRadio2">Monitoring</label>
      </div>
    </div>

    <div class="form-group mt-6">
      <label for="formGroupExampleInput">Immunization</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="immunization" value="1" id="inlineRadio1" <%= @immunization_complete%>>
        <label class="form-check-label" for="inlineRadio1">Complete</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="immunization" value="1" id="inlineRadio2" <%= @immunization_incomplete %>>
        <label class="form-check-label" for="inlineRadio2">Incomplete</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="immunization" value="1"  id="inlineRadio2" <%= @immunization_nd %>>
        <label class="form-check-label" for="inlineRadio2">Not enough data</label>
      </div>
    </div>

    <div class="form-group mt-6">
      <label for="formGroupExampleInput">Smoking cessation</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio"  name="smoking_cessation" id="inlineRadio1" value="1"  <%= @smoking_cessation_never_smoke %>>
        <label class="form-check-label" for="inlineRadio1">Never smoke</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio"  name="smoking_cessation" id="inlineRadio2" value="2"  <%= @smoking_cessation_smoke %>>
        <label class="form-check-label" for="inlineRadio2">Smoke</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio"  name="smoking_cessation" id="inlineRadio2" value="3"  <%= @smoking_cessation_former_smoker %>>
        <label class="form-check-label" for="inlineRadio2">Former smoker</label>
      </div>
    </div>
    <div class="form-check form-check-inline mt-5">
        <button type="submit" class="btn btn-primary">
            Save
        </button>
    </div>

    </form>
</div>
